Repository nrfconnect/sdk-sidewalk, pull requests merged in 2023-05, with the labels that each got.

#311 GitHub: add missing python packages to scripts
  .github/workflows/common_build_samples.yml
  .github/workflows/nrf_upmergePR.yml
  scripts/ci/requirements.txt
Labels: scripts

#308 manifest: update nrf to upmerge 2023.04.17
  Kconfig.dependecies
  samples/sensor_monitoring/src/main.c
  samples/sid_dut/src/main.c
  samples/template_ble/src/main.c
  samples/template_subghz/src/main.c
  tests/functional/critical_region/src/main.c
  tests/functional/crypto/Kconfig
  tests/functional/crypto/src/main.c
  tests/functional/interrupts/src/main.c
  tests/functional/mfg_storage/src/main.c
  tests/functional/pal_delay/src/main.c
  tests/functional/spi_bus/src/main.c
  tests/functional/storage/src/main.c
  tests/functional/temperature/src/main.c
  tests/functional/time/src/main.c
  tests/manual/ble/src/main.c
  tests/manual/log/src/main.c
  tests/manual/power/src/main.c
  tests/manual/power_ble_only/src/main.c
  tests/unit_tests/pal_assert/src/main.c
  tests/unit_tests/pal_ble_adapter/src/main.c
  tests/unit_tests/pal_critical_region/src/main.c
  tests/unit_tests/pal_crypto/src/main.c
  tests/unit_tests/pal_log/src/main.c
  tests/unit_tests/pal_mfg_storage/src/main.c
  tests/unit_tests/pal_storage_kv/src/main.c
  tests/unit_tests/pal_sw_interrupts/src/main.c
  tests/unit_tests/pal_temperature/src/main.c
  tests/unit_tests/pal_timer/src/main.c
  tests/unit_tests/pal_uptime/src/main.c
  tests/unit_tests/sid_ace_alloc/src/main.c
  tests/unit_tests/sid_ble_adapter_callbacks/src/main.c
  tests/unit_tests/sid_ble_advert/src/main.c
  tests/unit_tests/sid_ble_connection/src/main.c
  tests/unit_tests/sid_ble_service/src/main.c
  tests/unit_tests/sid_pal_gpio/src/main.c
  tests/unit_tests/sid_pal_gpio_irq/src/main.c
  tests/unit_tests/sid_pal_gpio_irq_handler/src/main.c
  tests/unit_tests/sid_pal_gpio_utils/src/main.c
  tests/validation/crypto/src/main.c
  tests/validation/storage_kv/src/main.c
  tests/validation/timer/src/main.c
  west.yml
Labels: manifest, source, tests

#313 doc: update windows setup commands
  doc/setting_up_sidewalk_environment/setting_up_sidewalk_product.rst
Labels: doc-required

#315 Fix memory report diff on pr
  .github/workflows/common_build_samples.yml
  scripts/generate_version_info.py
Labels: scripts

#320 Scripts: fix generation of hardware map for twister UT
  scripts/ci/fill_hardware_map.py
Labels: scripts

#317 dfu: Enter to DFU after reset
  Kconfig.dependecies
  samples/template_ble/src/application_thread.c
  samples/template_ble/src/board_events.c
  samples/template_ble/src/main.c
  samples/template_subghz/src/application_thread.c
  samples/template_subghz/src/board_events.c
  samples/template_subghz/src/main.c
  subsys/sal/sid_pal/src/sid_ble_adapter.c
  tests/manual/power/src/application_thread.c
  tests/manual/power/src/board_events.c
  tests/manual/power_ble_only/src/application_thread.c
  tests/manual/power_ble_only/src/board_events.c
  utils/Kconfig
  utils/include/settings_utils.h
  utils/src/CMakeLists.txt
  utils/src/nordic_dfu.c
  utils/src/settings_utils.c
Labels: source, tests

#321 doc: update amazon sidewalk documentation link
  README.rst
  doc/additional_resources.rst
Labels: doc-required

#322 log: remove log with upload progress
  utils/src/nordic_dfu.c
Labels: source

#323 tests: add build_only flag for manual tests on DUT
  tests/manual/ble/sample.yaml
  tests/manual/log/sample.yaml
Labels: tests

#328 DFU: fix SMP callbacks
  Kconfig.dependecies
Labels: source

#333 tests: Turn on led in simple bootloader app
  tests/manual/simple_bootloader/CMakeLists.txt
  tests/manual/simple_bootloader/Kconfig
  tests/manual/simple_bootloader/child_image/mcuboot/Kconfig.root
  tests/manual/simple_bootloader/child_image/mcuboot/prj.conf
  tests/manual/simple_bootloader/prj.conf
  tests/manual/simple_bootloader/src/main.c
Labels: tests

#326 NRF upmerge 2023_21_05
  samples/sensor_monitoring/fsk.conf
  samples/sid_dut/prj.conf
  samples/template_subghz/fsk.conf
  west.yml
Labels: manifest, source

#337 doc: fix GitHub badge link
  README.rst
Labels: doc-required

#340 NRF upmerge 2023_28_05
  west.yml
Labels: manifest

#344 NRF upmerge 2023_30_05 (v2.4.0-rc2)
  west.yml
Labels: manifest

#338 sensor: move timer configuration to Kconfig
  samples/sensor_monitoring/Kconfig
  samples/sensor_monitoring/include/sm_timers.h
  samples/sensor_monitoring/src/sm_callbacks.c
  samples/sensor_monitoring/src/sm_notifications.c
  samples/sensor_monitoring/src/sm_task.c
  samples/sensor_monitoring/src/sm_timers.c
Labels: source
