Repository nrfconnect/sdk-sidewalk, pull requests merged in 2023-06, with the labels that each got.

#346 NRF upmerge 2023_01_06
  west.yml
Labels: manifest

#358 doc: added compatibility matrix
  doc/compatibility_matrix.rst
  doc/index.rst
Labels: doc-required

#359 crypto: optimize crypto algorithms
  Kconfig.dependencies
Labels: source

#365 doc: add support section to readme
  README.rst
Labels: doc-required

#367 scripts: Extend run_ut script by selecting platform to use
  scripts/ci/run_ut.sh
Labels: scripts

#364 NRF upmerge 2023_11_06
  west.yml
Labels: manifest

#366 doc: adjusted Sidewalk intro section
  doc/about_sidewalk.rst
  doc/index.rst
  doc/setting_up_sidewalk_environment/requirements.rst
Labels: doc-required

#369 test: use k_sleep for delay in timer test
  tests/validation/timer/CMakeLists.txt
  tests/validation/timer/prj.conf
  tests/validation/timer/src/main.c
Labels: tests

#371 NRF upmerge 2023_18_06
  west.yml
Labels: manifest
