Repository nrfconnect/sdk-sidewalk, pull requests merged in 2023-11, with the labels that each got.

#447 doc: Don't checkout to sdk-nrf main
  doc/setting_up_sidewalk_environment/setting_up_sdk.rst
Labels: doc-required

#449 template_subghz: mcuboot Kconfig.root path changed
  samples/template_subghz/CMakeLists.txt
Labels: source

#452 shell: fix buffer overwriting
  utils/src/shell.c
Labels: source

#450 NRF upmerge 2023_05_11
  doc/ncs_links.rst
  doc/update_ncs_links.sh
Labels: doc-required, source, func-commit

#451 doc: included previous known issues
  doc/conf.py
  doc/requirements-doc.txt
  doc/sidewalk_release_notes.rst
Labels: doc-required

#453 Align ncs instructions
  README.rst
  doc/images/toolchain_manager.png
  doc/ncs_links.rst
  doc/setting_up_sidewalk_environment/setting_up_sdk.rst
  doc/sidewalk_release_notes.rst
Labels: doc-required

#455 gpio: refactor gpio to support new board
  Kconfig.dependencies
  scripts/ci/license.yml
  subsys/config/common/src/app_subGHz_config.c
  subsys/sal/sid_pal/include/sid_gpio_irq.h
  subsys/sal/sid_pal/include/sid_gpio_irq_handler.h
  subsys/sal/sid_pal/include/sid_gpio_utils.h
  subsys/sal/sid_pal/src/CMakeLists.txt
  subsys/sal/sid_pal/src/sid_gpio.c
  subsys/sal/sid_pal/src/sid_gpio_irq.c
  subsys/sal/sid_pal/src/sid_gpio_irq_handler.c
  subsys/sal/sid_pal/src/sid_gpio_utils.c
  tests/functional/spi_bus/Kconfig
  tests/unit_tests/sid_pal_gpio/CMakeLists.txt
  tests/unit_tests/sid_pal_gpio/Kconfig
  tests/unit_tests/sid_pal_gpio/src/main.c
  tests/unit_tests/sid_pal_gpio_irq/CMakeLists.txt
  tests/unit_tests/sid_pal_gpio_irq/prj.conf
  tests/unit_tests/sid_pal_gpio_irq/src/main.c
  tests/unit_tests/sid_pal_gpio_irq/testcase.yaml
  tests/unit_tests/sid_pal_gpio_irq_handler/CMakeLists.txt
  tests/unit_tests/sid_pal_gpio_irq_handler/Kconfig
  tests/unit_tests/sid_pal_gpio_irq_handler/prj.conf
  tests/unit_tests/sid_pal_gpio_irq_handler/src/main.c
  tests/unit_tests/sid_pal_gpio_irq_handler/testcase.yaml
  tests/unit_tests/sid_pal_gpio_utils/CMakeLists.txt
  tests/unit_tests/sid_pal_gpio_utils/prj.conf
  tests/unit_tests/sid_pal_gpio_utils/src/main.c
  tests/unit_tests/sid_pal_gpio_utils/testcase.yaml
Labels: source, tests, scripts, func-commit

#456 tests: add critical region tests
  tests/functional/critical_region/CMakeLists.txt
  tests/functional/critical_region/Kconfig
  tests/functional/critical_region/prj.conf
  tests/functional/critical_region/src/main.c
  tests/functional/critical_region/testcase.yaml
Labels: tests

#457 doc: compatibility matrix update
  doc/compatibility_matrix.rst
Labels: doc-required

#458 doc: fix for links and reordering
  doc/ncs_links.rst
  doc/setting_up_sidewalk_environment/setting_up_sdk.rst
Labels: doc-required

#459 NRF upmerge 2023_19_11
  doc/ncs_links.rst
  internal_west.yml
Labels: doc-required, source, func-commit

#462 pal: remove misleading log
  subsys/sal/sid_pal/src/sid_pal_serial_bus_spi.c
Labels: source

#460 log: add board name to boot up log
  utils/include/sidewalk_version.h
Labels: source
