Repository nrfconnect/sdk-sidewalk, pull requests merged in 2023-10, with the labels that each got.

#409 Sample: Add Thingy53 for Sensor monitor
  samples/sensor_monitoring/boards/thingy53_nrf5340_cpuapp.conf
  samples/sensor_monitoring/boards/thingy53_nrf5340_cpuapp.overlay
  samples/sensor_monitoring/include/sm_buttons.h
  samples/sensor_monitoring/sample.yaml
  samples/sensor_monitoring/src/sm_buttons.c
  samples/sensor_monitoring/src/sm_leds.c
  samples/sensor_monitoring/src/sm_notifications.c
Labels: source

#420 ace: error on CONFIG_SYS_HEAP_RUNTIME_STATS=y
  subsys/ace/osal/osal_alloc.c
Labels: source

#417 doc: known issues update
  doc/setting_up_sidewalk_environment/setting_up_sidewalk_gateway.rst
  doc/sidewalk_known_issues.rst
Labels: doc-required

#423 samples: increase ipc thread priority
  samples/sensor_monitoring/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/sid_dut/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/sid_dut/boards/nrf5340dk_nrf5340_cpuapp_ns.overlay
  samples/template_ble/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/template_subghz/boards/nrf5340dk_nrf5340_cpuapp.overlay
Labels: source

#422 tests: Add nrf53 to power tests
  samples/template_subghz/child_image/mcuboot/boards/nrf52840dk_nrf52840_release.overlay
  tests/manual/power/CMakeLists.txt
  tests/manual/power/boards/nrf52840dk_nrf52840_release.overlay
  tests/manual/power/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/manual/power/child_image/hci_rpmsg/Kconfig.root
  tests/manual/power/child_image/hci_rpmsg/prj.conf
  tests/manual/power/child_image/hci_rpmsg/prj_release.conf
  tests/manual/power/child_image/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/manual/power/child_image/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/manual/power/child_image/mcuboot/boards/nrf5340dk_nrf5340_cpuapp_release.conf
  tests/manual/power/prj.conf
  tests/manual/power/prj_release.conf
  tests/manual/power/src/main.c
  tests/manual/power_ble_only/CMakeLists.txt
  tests/manual/power_ble_only/boards/nrf52840dk_nrf52840.overlay
  tests/manual/power_ble_only/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/manual/power_ble_only/child_image/hci_rpmsg/Kconfig.root
  tests/manual/power_ble_only/child_image/hci_rpmsg/prj.conf
  tests/manual/power_ble_only/child_image/hci_rpmsg/prj_release.conf
  tests/manual/power_ble_only/child_image/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.conf
  tests/manual/power_ble_only/child_image/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.overlay
  tests/manual/power_ble_only/child_image/mcuboot/boards/nrf5340dk_nrf5340_cpuapp_release.conf
  tests/manual/power_ble_only/prj.conf
  tests/manual/power_ble_only/prj_release.conf
  tests/manual/power_ble_only/src/main.c
Labels: source, tests

#424 pal: info for developers on mock temperature use
  subsys/sal/sid_pal/src/CMakeLists.txt
  subsys/sal/sid_pal/src/sid_temperature_mock.c
Labels: source

#426 utils: change gpio notifier pins for nRF53
  utils/include/application_states.h
Labels: source

#430 NRF upmerge 2023_08_10
  doc/ncs_links.rst
  internal_west.yml
Labels: doc-required, source, func-commit

#433 doc: update known issues
  doc/sidewalk_known_issues.rst
Labels: doc-required

#435 tests: nRF52 wont suspend flash to save power
  tests/manual/power/src/main.c
  tests/manual/power_ble_only/src/main.c
Labels: tests

#434 NRF upmerge 2023_15_10
  doc/ncs_links.rst
  internal_west.yml
Labels: doc-required, source, func-commit

#438 NRF upmerge 2023_22_10
  doc/ncs_links.rst
  internal_west.yml
Labels: doc-required, source, func-commit

#439 doc: fixed link for nrf53
  doc/ncs_links.rst
Labels: doc-required

#440 manifest: update nrf revision with current fix
  internal_west.yml
Labels: source

#442 NRF upmerge 2023_26_10
  doc/ncs_links.rst
  internal_west.yml
Labels: doc-required, source, func-commit

#445 doc: remove ble adapter requirement
  doc/setting_up_sidewalk_environment/requirements.rst
Labels: doc-required
