Repository nrfconnect/sdk-sidewalk, pull requests merged in 2023-04, with the labels that each got.

#277 Krknwk 14621 add missing link mode logs
  samples/template_ble/src/sidewalk_callbacks.c
  samples/template_subghz/src/sidewalk_callbacks.c
Labels: source

#285 Fix for fatal error in validation test
  tests/validation/timer/src/main.c
Labels: tests

#291 license: Update license for Amazon
  LICENSE.txt
Labels: source

#292 tests: Add missing code to send messages in test
  tests/manual/power/src/main.c
Labels: tests

#289 github: add comment with change in memory usage
  .github/workflows/on_PR.yml
  .github/workflows/on_commit.yml
  .github/workflows/post_PR_comment.yml
  scripts/ci/combine_twister_reports.py
  scripts/ci/compare_size_reports.py
  scripts/ci/replace_nrf_revision_in_west.py
Labels: scripts

#297 github: add badge with build status for main
  README.rst
Labels: doc-required

#299 github: simplify memory usage table
  .github/workflows/on_PR.yml
  .github/workflows/post_PR_comment.yml
  scripts/ci/compare_size_reports.py
Labels: scripts

#294 Move semtech config to DTS
  samples/sensor_monitoring/boards/nrf52840dk_nrf52840.overlay
  samples/sid_dut/boards/nrf52840dk_nrf52840.overlay
  samples/template_subghz/boards/nrf52840dk_nrf52840.overlay
  samples/template_subghz/boards/nrf52840dk_nrf52840_release.overlay
  subsys/config/common/src/app_subGHz_config.c
  subsys/sal/sid_pal/include/sid_gpio_utils.h
  subsys/sal/sid_pal/src/sid_gpio_utils.c
  subsys/sal/sid_pal/src/sid_pal_serial_bus_spi.c
  tests/functional/spi_bus/CMakeLists.txt
  tests/functional/spi_bus/boards/nrf52840dk_nrf52840.overlay
  tests/manual/power/boards/nrf52840dk_nrf52840.overlay
  tests/manual/power/boards/nrf52840dk_nrf52840_release.overlay
  tests/unit_tests/sid_pal_gpio_utils/src/main.c
Labels: source, tests

#304 Do west manifest --path after west update
  doc/setting_up_sidewalk_environment/setting_up_sdk.rst
Labels: doc-required

#310 github: create weekly PR with NRF upmerge
  .github/workflows/nrf_upmergePR.yml
  scripts/ci/replace_nrf_revision_in_west.py
Labels: scripts
