Repository nrfconnect/sdk-sidewalk, pull requests merged in 2023-09, with the labels that each got.

#393 Sidewalk update
  doc/sidewalk_known_issues.rst
Labels: doc-required

#397 Sensor_App: change state to init on time sync fail
  samples/sensor_monitoring/include/sm_states.h
  samples/sensor_monitoring/src/sm_callbacks.c
  samples/sensor_monitoring/src/sm_states.c
  samples/sensor_monitoring/src/sm_task.c
  subsys/sal/sid_pal/include/hci_utils.h
  subsys/sal/sid_pal/src/CMakeLists.txt
  subsys/sal/sid_pal/src/hci_utils.c
  subsys/sal/sid_pal/src/sid_ble_connection.c
Labels: source, func-commit

#398 samples/applications: Replace Kconfig
  scripts/generate_version_info_overlay.py
Labels: scripts

#401 NRF upmerge 2023_10_09
  doc/ncs_links.rst
  internal_west.yml
Labels: doc-required, source, func-commit

#402 samples: sid dut add hci configuration
  samples/sid_dut/CMakeLists.txt
  samples/sid_dut/child_image/hci_rpmsg/Kconfig.root
  samples/sid_dut/child_image/hci_rpmsg/prj.conf
  samples/sid_dut/child_image/hci_rpmsg/prj_release.conf
Labels: source

#404 Build: remove deprecated Kconfig option
  Kconfig.dependencies
Labels: source

#406 pal: Remove MTU request from nRF to gateway
  Kconfig.dependencies
  subsys/sal/sid_pal/src/sid_ble_connection.c
  tests/unit_tests/pal_ble_adapter/src/main.c
  tests/unit_tests/sid_ble_connection/src/main.c
Labels: source, tests

#408 NRF upmerge 2023_24_09
  internal_west.yml
Labels: source, func-commit

#410 doc: added units information
  doc/setting_up_sidewalk_environment/requirements.rst
Labels: doc-required

#413 test: Change number of msgs to be send by power test app
  tests/manual/power/Kconfig
  tests/manual/power_ble_only/Kconfig
Labels: tests
