Repository nrfconnect/sdk-sidewalk, pull requests merged in 2024-02, with the labels that each got.

#484 NRF upmerge 2024_04_02
  internal_west.yml
Labels: source, func-commit

#487 doc: Fix requirements to build documentation
  doc/requirements-doc.txt
Labels: doc-required

#492 doc: migration guide review
  doc/index.rst
  doc/migration_guide.rst
  doc/ncs_links.rst
  doc/ncs_links_update.sh
  doc/samples/samples_list.rst
  doc/samples/why_new_template.rst
Labels: doc-required

#500 lib: remove RTT dependency from libs
  Kconfig.dependencies
  lib/cortex-m33/ble_only/libsid_protocol_ble.a
  lib/cortex-m33/lora_fsk/libsid_protocol_all.a
  lib/cortex-m4/ble_only/libsid_protocol_ble.a
  lib/cortex-m4/lora_fsk/libsid_protocol_all.a
Labels: sid-lib, source, func-commit

#499 NRF upmerge 2024_22_02
  doc/ncs_links.rst
  internal_west.yml
Labels: doc-required, source, func-commit

#506 build: make trim cap value a Kconfig
  Kconfig
  subsys/config/common/src/app_subGHz_config.c
Labels: source

#502 heap: use k_heap for all dynamic allocations in Sidewalk
  Kconfig
  samples/sid_end_device/prj.conf
  samples/sid_end_device/src/cli/app.c
  samples/sid_end_device/src/cli/app_dut.c
  samples/sid_end_device/src/cli/app_shell.c
  samples/sid_end_device/src/hello/app.c
  samples/sid_end_device/src/sensor_monitoring/app.c
  samples/sid_end_device/src/sensor_monitoring/app_tx.c
  samples/sid_end_device/src/sidewalk.c
  subsys/ace/osal/osal_alloc.c
  subsys/hal/include/sid_memory_pool.h
  subsys/hal/src/memory.c
  tests/unit_tests/sid_ace_alloc/Kconfig
  tests/unit_tests/sid_dut_shell/CMakeLists.txt
  tests/unit_tests/sid_dut_shell/mock/sidewalk_mock.h
  tests/unit_tests/sid_dut_shell/src/main.c
Labels: source, tests

#497 file transfer example
  samples/sid_end_device/CMakeLists.txt
  samples/sid_end_device/Kconfig
  samples/sid_end_device/include/file_transfer.h
  samples/sid_end_device/include/sidewalk.h
  samples/sid_end_device/sample.yaml
  samples/sid_end_device/src/cli/app_dut.c
  samples/sid_end_device/src/file_transfer.c
  samples/sid_end_device/src/sidewalk.c
Labels: source

#505 NRF upmerge 2024_25_02
  internal_west.yml
Labels: source, func-commit
