Repository nrfconnect/sdk-sidewalk, pull requests merged in 2024-03, with the labels that each got.

#513 doc: doc improvements
  doc/includes/include_kconfig_common.txt
  doc/migration_guide.rst
  doc/samples/sid_end_device.rst
  doc/setting_up_sidewalk_environment/setting_up_environment.rst
  doc/setting_up_sidewalk_environment/setting_up_hardware.rst
  doc/setting_up_sidewalk_environment/setting_up_sidewalk_gateway.rst
  doc/setting_up_sidewalk_environment/setting_up_sidewalk_product.rst
  doc/sidewalk_release_notes.rst
Labels: doc-required

#510 NRF upmerge 2024_03_03
  doc/ncs_links.rst
  internal_west.yml
Labels: doc-required, source, func-commit

#517 doc: small table update
  doc/compatibility_matrix.rst
Labels: doc-required

#516 NRF upmerge v2.6.0
  doc/ncs_links.rst
  internal_west.yml
Labels: doc-required, source, func-commit

#519 build: fix warning pointed out by static analysis
  samples/sid_end_device/src/cli/app_dut.c
  samples/sid_end_device/src/cli/app_shell.c
  samples/sid_end_device/src/hello/app.c
  samples/sid_end_device/src/sensor_monitoring/app.c
  samples/sid_end_device/src/sensor_monitoring/app_tx.c
  subsys/sal/sid_pal/src/sid_mfg_storage.c
  utils/include/sidTypes2str.h
  utils/src/settings_utils.c
  utils/src/sid_on_dev_cert.c
  utils/src/sid_on_dev_cert_cli.c
Labels: source

#520 NRF upmerge 2024_17_03
  doc/ncs_links.rst
  internal_west.yml
Labels: doc-required, source, func-commit

#522 fix: compilaiton warning about strncpy
  utils/src/sid_on_dev_cert_cli.c
Labels: source

#524 NRF upmerge 2024_24_03
  internal_west.yml
Labels: source, func-commit
