Repository nrfconnect/sdk-sidewalk, pull requests merged in 2024-10, with the labels that each got.

#615 utils: sidewalk_dfu: align the MCUmgr Bluetooth transport Kconfig
  utils/sidewalk_dfu/Kconfig
Labels: source

#619 BLE: clean up registered connection callback
  subsys/sal/sid_pal/src/sid_ble_connection.c
  tests/unit_tests/sid_ble_connection/src/main.c
Labels: source, tests

#623 samples: fix cs pin config for nrf52
  samples/sid_end_device/boards/nrf52840dk_nrf52840.overlay
  subsys/config/common/src/app_subGHz_config.c
Labels: source

#624 GPIO: fix client_selector for subGHz config
  subsys/config/common/src/app_subGHz_config.c
Labels: source

#629 Revert "BLE: clean up registered connection callback"
  subsys/sal/sid_pal/src/sid_ble_connection.c
  tests/unit_tests/sid_ble_connection/src/main.c
Labels: source, tests

#626 Storage: use ZMS for new RRAM devices
  CMakeLists.txt
  Kconfig.dependencies
  samples/sid_end_device/Kconfig.defconfig
  tests/functional/storage/Kconfig
  tests/unit_tests/pal_storage_kv/testcase.yaml
Labels: source, tests

#632 samples: add nrf54l15dk with tf-m
  Kconfig
  Kconfig.dependencies
  samples/sid_end_device/boards/nrf54l15dk_nrf54l15_cpuapp_ns.conf
  samples/sid_end_device/boards/nrf54l15dk_nrf54l15_cpuapp_ns.overlay
  samples/sid_end_device/pm_static_nrf54l15dk_nrf54l15_cpuapp_ns.yml
  samples/sid_end_device/sample.yaml
  samples/sid_end_device/sysbuild/mcuboot/boards/nrf54l15dk_nrf54l15_cpuapp_ns.conf
  samples/sid_end_device/sysbuild/mcuboot/boards/nrf54l15dk_nrf54l15_cpuapp_ns.overlay
  subsys/sal/sid_pal/src/sid_mfg_storage.c
Labels: source

#635 samples: decrease storage module log level
  samples/sid_end_device/Kconfig.defconfig
  samples/sid_end_device/prj.conf
Labels: source, func-integration

#638 samples: enable timeout for sidewalk msg put
  Kconfig
  samples/sid_end_device/Kconfig
  samples/sid_end_device/src/sidewalk.c
Labels: source, func-integration
