Repository nrfconnect/sdk-sidewalk, pull requests merged in 2024-07, with the labels that each got.

#580 doc: small link fix
  doc/links.rst
Labels: doc-required, source

#581 sensor_monitor: move app_start_tasks
  samples/sid_end_device/src/sensor_monitoring/app.c
Labels: source

#583 ble: fix api for bt_conn_cb_register
  .github/docker/Dockerfile
  subsys/sal/sid_pal/src/sid_ble_connection.c
  tests/unit_tests/pal_ble_adapter/src/main.c
  tests/unit_tests/sid_ble_connection/src/main.c
Labels: source, tests

#582 samples: update version
  samples/sid_end_device/VERSION
  tests/manual/simple_bootloader/VERSION
Labels: source, tests

#585 sample: fix sidewalk_thread msgq
  samples/sid_end_device/src/sidewalk.c
  samples/sid_end_device/src/sidewalk_events.c
Labels: source

#586 app: add check for mfg at platform_init
  samples/sid_end_device/src/cli/app_dut.c
  samples/sid_end_device/src/sidewalk_events.c
Labels: source

#589 doc: pin alignment
  doc/setting_up_sidewalk_environment/setting_up_hardware.rst
Labels: doc-required, source

#587 tests: remove outdated todo comment
  tests/functional/crypto/src/main.c
Labels: source, tests
