Repository nrfconnect/sdk-sidewalk, pull requests merged in 2024-11, with the labels that each got.

#639 doc: pre-release doc updates
  doc/compatibility_matrix.rst
  doc/includes/memory_requirement.txt
  doc/links.rst
  doc/releases_and_migration.rst
  doc/releases_and_migration/migration_guide_v280.rst
  doc/releases_and_migration/release_notes_v280.rst
  doc/samples/samples_list.rst
  doc/samples/sid_end_device.rst
  doc/setting_up_sidewalk_environment/setting_up_hardware.rst
Labels: doc-required, source

#641 doc: cm table small fix
  doc/compatibility_matrix.rst
Labels: doc-required, source

#637 NCS v2.8.0 final tagging
  samples/sid_end_device/VERSION
  tests/manual/simple_bootloader/VERSION
Labels: source, tests, func-integration

#645 sample: sidewalk version 2.8.99 on main
  samples/sid_end_device/VERSION
  tests/manual/simple_bootloader/VERSION
Labels: source, tests
