Repository nrfconnect/sdk-sidewalk, pull requests merged in 2024-09, with the labels that each got.

#600 dut: add DFU service to dut sample
  samples/sid_end_device/include/cli/app_shell.h
  samples/sid_end_device/src/cli/app_shell.c
Labels: source

#602 pal: protect sidewalk mfg data flash partition
  subsys/sal/sid_pal/src/sid_mfg_storage.c
Labels: source

#610 doc: add nrf52 nrf53 production programming guides
  doc/additional_resources.rst
Labels: doc-required

#608 pal: verify if key id is in secure storage
  subsys/sal/sid_pal/src/sid_crypto_keys.c
  subsys/sal/sid_pal/src/sid_storage.c
  tests/functional/crypto_keys/src/main.c
Labels: source, tests

#611 doc: precise trusted storage description
  doc/links.rst
  doc/releases_and_migration/migration_guide_v280.rst
  doc/samples/sid_end_device.rst
Labels: doc-required, source

#612 pal: spi: Move SPI bus speed setting to init function.
  subsys/sal/sid_pal/src/sid_pal_serial_bus_nrfx_spi.c
Labels: source
