Repository nrfconnect/sdk-sidewalk, pull requests merged in 2024-12, with the labels that each got.

#646 samples: add dut ble only
  samples/sid_end_device/sample.yaml
Labels: source

#650 tests: port assert test to zephyr unit tests
  tests/unit_tests/pal_assert/CMakeLists.txt
  tests/unit_tests/pal_assert/Kconfig
  tests/unit_tests/pal_assert/prj.conf
  tests/unit_tests/pal_assert/src/main.c
  tests/unit_tests/pal_assert/testcase.yaml
Labels: source, tests

#651 doc: new targets and doc align
  doc/includes/memory_requirement.txt
  doc/samples/samples_list.rst
  doc/samples/sid_end_device.rst
  doc/setting_up_sidewalk_environment/setting_up_sidewalk_prototype.rst
Labels: doc-required

#653 cmake: removing manual linking of libgcc.a
  lib/cortex-m33/lora_fsk/CMakeLists.txt
  lib/cortex-m4/lora_fsk/CMakeLists.txt
Labels: sid-lib, source

#654 cmake: removing manual linking of libgcc.a
  lib/cortex-m33/lora_fsk/CMakeLists.txt
  lib/cortex-m4/lora_fsk/CMakeLists.txt
Labels: sid-lib, source

#656 doc: 2.9.0 pre-release adjustments
  doc/compatibility_matrix.rst
  doc/includes/memory_requirement.txt
  doc/links.rst
  doc/releases_and_migration.rst
  doc/releases_and_migration/release_notes_v290.rst
  doc/samples/samples_list.rst
  doc/setting_up_sidewalk_environment/setting_up_sidewalk_prototype.rst
Labels: doc-required, source

#655 tests: port assert test to zephyr unit tests
  tests/unit_tests/pal_assert/CMakeLists.txt
  tests/unit_tests/pal_assert/Kconfig
  tests/unit_tests/pal_assert/prj.conf
  tests/unit_tests/pal_assert/src/main.c
  tests/unit_tests/pal_assert/testcase.yaml
Labels: source, tests, func-integration

#657 doc: compatibilty matrix
  doc/compatibility_matrix.rst
Labels: doc-required, source

#663 doc: L10 as supported
  doc/compatibility_matrix.rst
  doc/samples/samples_list.rst
  doc/samples/sid_end_device.rst
Labels: doc-required, source, func-integration

#662 build: remove experimental label for nrf54l10
  Kconfig.dependencies
Labels: source, func-integration

#658 Release version v2.9.0
  samples/sid_end_device/VERSION
  tests/manual/simple_bootloader/VERSION
Labels: source, tests, func-integration

#667 tests: add integration test for assert
  tests_new/integration/assert/CMakeLists.txt
  tests_new/integration/assert/Kconfig
  tests_new/integration/assert/prj.conf
  tests_new/integration/assert/src/main.c
  tests_new/integration/assert/testcase.yaml
Labels: source

#668 doc: small compatibility matrix fix
  doc/compatibility_matrix.rst
  doc/links.rst
Labels: doc-required, source

#664 ble: Remove CONFIG_BT_BUF_ACL_RX_COUNT
  samples/sid_end_device/Kconfig.defconfig
Labels: source, from-nrf
