Repository nrfconnect/sdk-sidewalk, pull requests merged in 2024-08, with the labels that each got.

#590 Secure keys storage
  Kconfig
  Kconfig.dependencies
  subsys/sal/sid_pal/include/sid_crypto_keys.h
  subsys/sal/sid_pal/src/CMakeLists.txt
  subsys/sal/sid_pal/src/sid_crypto.c
  subsys/sal/sid_pal/src/sid_crypto_keys.c
  subsys/sal/sid_pal/src/sid_mfg_storage.c
  subsys/sal/sid_pal/src/sid_storage.c
  tests/functional/crypto_keys/CMakeLists.txt
  tests/functional/crypto_keys/Kconfig
  tests/functional/crypto_keys/boards/nrf52840dk_nrf52840.conf
  tests/functional/crypto_keys/boards/nrf5340dk_nrf5340_cpuapp_ns.conf
  tests/functional/crypto_keys/prj.conf
  tests/functional/crypto_keys/src/main.c
  tests/functional/crypto_keys/testcase.yaml
Labels: source, tests

#594 log: add name to sid_error_t when printing.
  samples/sid_end_device/src/cli/app_dut.c
  samples/sid_end_device/src/hello/app.c
  samples/sid_end_device/src/sbdt/dfu_file_transfer.c
  samples/sid_end_device/src/sensor_monitoring/app.c
  samples/sid_end_device/src/sensor_monitoring/app_tx.c
  samples/sid_end_device/src/sidewalk_events.c
  subsys/sal/sid_pal/src/pal_init.c
Labels: source

#596 git: Ignore manufacturing hex and binary files.
  .gitignore
Labels: source

#597 scripts: Update run UT on HW
  scripts/ci/run_ut.sh
Labels: source, scripts

#598 sample: Improve FSK throughput for nRF52/nRF53
  Kconfig.dependencies
  samples/sid_end_device/Kconfig.defconfig
  tests/functional/crypto/Kconfig
  tests/functional/crypto/Kconfig.defconfig
  tests/functional/crypto/src/main.c
  tests/validation/crypto/prj.conf
  tests/validation/crypto/src/main.c
Labels: source, tests
