Repository nrfconnect/sdk-sidewalk, pull requests merged in 2024-04, with the labels that each got.

#528 utils: remove sleep from dfu timer callback
  utils/src/nordic_dfu.c
Labels: source, func-commit

#529 Krknwk 18773 dfu errors
  samples/sid_end_device/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/sid_end_device/boards/nrf54l15pdk_nrf54l15_cpuapp_release.conf
Labels: source

#530 pal: remove unncessary timer casting
  subsys/sal/sid_pal/src/sid_timer.c
Labels: source

#549 doc: small ux improvements
  doc/compatibility_matrix.rst
  doc/samples/samples_list.rst
  doc/samples/sid_end_device.rst
  doc/setting_up_sidewalk_environment/setting_up_sidewalk_product.rst
Labels: doc-required

#552 doc: add cs note to release notes
  doc/sidewalk_release_notes.rst
Labels: doc-required

#553 doc: fix tag name
  doc/sidewalk_release_notes.rst
Labels: doc-required
