Repository nrfconnect/sdk-sidewalk, pull requests merged in 2024-06, with the labels that each got.

#567 doc: Update readme
  README.rst
Labels: doc-required, source

#566 samples: Replace hci_ipc with ipc_radio for sysbuild.
  samples/sid_end_device/Kconfig.sysbuild
  samples/sid_end_device/sysbuild/ipc_radio/prj.conf
Labels: source, func-nightly

#569 DFU: transmit device name in scan response packet
  utils/src/nordic_dfu.c
Labels: source

#568 samples: remove child image folder
  samples/sid_end_device/child_image/hci_ipc/prj _release.conf
  samples/sid_end_device/child_image/hci_ipc/prj.conf
  samples/sid_end_device/child_image/mcuboot/boards/nrf52840dk_nrf52840.overlay
  samples/sid_end_device/child_image/mcuboot/boards/nrf52840dk_nrf52840_release.overlay
  samples/sid_end_device/child_image/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.conf
  samples/sid_end_device/child_image/mcuboot/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/sid_end_device/child_image/mcuboot/boards/nrf5340dk_nrf5340_cpuapp_release.conf
  samples/sid_end_device/child_image/mcuboot/boards/nrf5340dk_nrf5340_cpuapp_release.overlay
  samples/sid_end_device/child_image/mcuboot/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/sid_end_device/child_image/mcuboot/boards/nrf54l15pdk_nrf54l15_cpuapp_release.conf
  samples/sid_end_device/child_image/mcuboot/boards/thingy53_nrf5340_cpuapp.conf
  samples/sid_end_device/child_image/mcuboot/boards/thingy53_nrf5340dk_nrf5340_cpuapp.overlay
  samples/sid_end_device/child_image/mcuboot/prj.conf
  samples/sid_end_device/child_image/mcuboot/prj_release.conf
  tests/manual/simple_bootloader/child_image/mcuboot/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  tests/manual/simple_bootloader/child_image/mcuboot/prj.conf
Labels: source, tests

#570 mcuboot: add DTS configuration for nrf54 bootloader
  samples/sid_end_device/sysbuild/mcuboot/boards/nrf54l15pdk_nrf54l15_cpuapp.conf
  samples/sid_end_device/sysbuild/mcuboot/boards/nrf54l15pdk_nrf54l15_cpuapp_0_2_1.overlay
  samples/sid_end_device/sysbuild/mcuboot/boards/nrf54l15pdk_nrf54l15_cpuapp_0_3_0.overlay
Labels: source

#577 sample: fix issue with memory leak on events
  samples/sid_end_device/include/sidewalk.h
  samples/sid_end_device/src/cli/app.c
  samples/sid_end_device/src/cli/app_shell.c
  samples/sid_end_device/src/hello/app.c
  samples/sid_end_device/src/sbdt/file_transfer.c
  samples/sid_end_device/src/sensor_monitoring/app.c
  samples/sid_end_device/src/sensor_monitoring/app_tx.c
  samples/sid_end_device/src/sidewalk.c
  tests/unit_tests/sid_dut_shell/mock/sidewalk_mock.h
Labels: source, tests
