Repository nrfconnect/sdk-sidewalk, pull requests merged in 2024-05, with the labels that each got.

#556 scripts: Add lcov as coverage tool in run_ut script
  scripts/ci/run_ut.sh
Labels: scripts

#558 leds: move state notifier gpio to DTS
  samples/sid_end_device/boards/nrf52840dk_nrf52840.overlay
  samples/sid_end_device/boards/nrf5340dk_nrf5340_cpuapp.overlay
  samples/sid_end_device/boards/nrf54l15pdk_nrf54l15_cpuapp_0_2_1.conf
  samples/sid_end_device/boards/nrf54l15pdk_nrf54l15_cpuapp_0_2_1.overlay
  samples/sid_end_device/boards/nrf54l15pdk_nrf54l15_cpuapp_0_3_0.overlay
  samples/sid_end_device/boards/nrf54l15pdk_nrf54l15_cpuapp_release_0_2_1.conf
  utils/include/application_states.h
  utils/include/sidewalk_version.h
  utils/src/state_notifier_gpio_backend.c
Labels: source

#561 doc: update link to release versions of documentation
  .github/workflows/on_dispatch_publish-documentation.yml
  README.rst
Labels: doc-required, source

#562 sample: fix issue with sending malformed payload on autoconnect
  samples/sid_end_device/include/sidewalk.h
  samples/sid_end_device/src/cli/app.c
  samples/sid_end_device/src/hello/app.c
  samples/sid_end_device/src/sensor_monitoring/app.c
  samples/sid_end_device/src/sidewalk.c
Labels: source
