Repository nrfconnect/sdk-sidewalk, pull requests merged in 2025-05, with the labels that each got.

#709 samples: Set BOOT_SIGNATURE_TYPE_RSA in simple_bootloader
  tests/manual/simple_bootloader/Kconfig.sysbuild
Labels: source, tests

#711 BLE: rotate BLE address with every advert
  Kconfig.dependencies
Labels: source

#713 doc: add KRKNWK20330 known issue
  doc/known_issues.rst
Labels: doc-required, source
